extends layout



block content

  hr
  a(style="color: #3644FF" class="years-input") years
  a(hidden)= yearsQuery
  a  >
  a(style="color: #3644FF" class="years-input")  countries
  a(hidden)= countriesQuery
  a  >
  a(style="color: #3644FF" class="years-input")  labels
  a(hidden)= labelsQuery
  a  >
  a(style="color: #3644FF" class="years-input")  personnel
  a(hidden)= artistsQuery
  a  >
  a(style="color: #3644FF")  album
  hr
  p.lead 
    div(id='dialog-message',title='Redo Search')
      a
        | If you've found this site useful, 
      a(style="color:blue", href="https://github.com/savoy1211/jazz-lib-online", target="_blank")  star the repo
      a  or 
      a(style="color:blue", href="https://ko-fi.com/N4N614M34", target="_blank")  buy me a coffee :)



  .row
    .col-md-6
      h5= albumData.title
      h6= "by "+albumData.artists[0].name
      p
      p= "Styles: "+albumData.styles
      p= "Country: "+albumData.country
      p= "Release Year: "+albumData.released
      p= "Label: "+albumData.labels[0].name
      p= "Rating: "+albumData.community.rating.average
      p= "Rating Count: "+albumData.community.rating.count
      p       
      hr
      a(style="cursor:pointer; color:blue;" class="redo") Redo Search 
      br
      a(style="cursor:pointer; color:blue" href=albumData.uri, target="_blank") Discogs URL
      //p Backspace to pick another album
    .col-md-6
      each artist in albumData.extraartists
        p= artist.role + ": " + artist.name
      p

      
