extends layout



block content

  hr
  a(style="color: #3644FF" class="years-input") years
  a(hidden)= yearsQuery
  a  >
  a(style="color: #3644FF" class="years-input")  countries
  a(hidden)= countriesQuery
  a  >
  a(style="color: #3644FF")  labels
  a  > personnel > album
  hr
  p.lead 
  .row
    .col-md-12
      h4 Select label(s)
   
      p
      a(class="all-years" style="cursor: pointer") select all
      p
          each index in labelsObj
            text(class="choose" style="color: #3644FF; cursor: pointer")= index + ": "  
            text(style="color: #777777")= labelsKVObj[index] + ", "
    
      form(method="POST", action="/artists")
        input(class="input" type="text" name="labels" size="90")
        input(hidden type="text" name="years" value=yearsQuery)
        input(hidden type="text" name="countries" value=countriesQuery)
        input(class="btn-default" type="submit" value="Next") 
      button(class="btn-default" id="clear-me" style="cursor: pointer") Clear